<section>
  <%= image_tag "products/rods.jpg", class:"imgright" %>
  &nbsp;


  <article>
    <p>
      Consectetur adipiscing elit. Aenean vehicula massa urna, ornare pellentesque
      tortor vehicula at. Sed sed congue tortor. Phasellus a eros nec orci consectetur tristique. Quisque non
      consectetur diam. Vivamus condimentum sodales lorem facilisis commodo. Integer bibendum dictum magna a
      lobortis. Nulla ac nisi eget leo venenatis feugiat. Aliquam commodo vulputate neque id molestie. Vestibulum
      consectetur leo interdum diam placerat fermentum. Morbi tincidunt et sapien ac hendrerit. Nullam bibendum
      enim ut dictum egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Vivamus nec sollicitudin nunc, vitae malesuada mi. Integer dictum rhoncus neque, et sodales
      massa feugiat pharetra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula massa urna,
      ornare pellentesque tortor vehicula at. Sed sed congue tortor. Phasellus a eros nec orci consectetur
      tristique. Quisque non consectetur diam. Vivamus condimentum sodales lorem facilisis commodo. Integer
      bibendum dictum magna a lobortis. Nulla ac nisi eget leo venenatis feugiat. Aliquam commodo vulputate
      neque id molestie. Vestibulum consectetur leo interdum diam placerat fermentum. Morbi tincidunt et sapien
      ac hendrerit. Nullam bibendum enim ut dictum egestas. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Vivamus nec sollicitudin nunc, vitae malesuada mi. Sed sed congue
      tortor. Phasellus a eros nec orci consecteturtristique. Quisque non consectetur diam. Vivamus condimentu
      sodales lorem facilisis commodo. Integer bibendum dictum magna a lobortis. Nulla ac nisi eget leo venenatis
      feugiat. Aliquam commodo vulputate neque id molestie.
    </p>
  </article>


  <article>
    <%= image_tag "logo.jpg", class:"imgleft" %>
    <p>
      Consectetur adipiscing elit. Aenean vehicula massa urna, ornare pellentesque
      tortor vehicula at. Sed sed congue tortor. Phasellus a eros nec orci consectetur tristique. Quisque non
      consectetur diam. Vivamus condimentum sodales lorem facilisis commodo. Integer bibendum dictum magna a
      lobortis. Nulla ac nisi eget leo venenatis feugiat. Aliquam commodo vulputate neque id molestie. Vestibulum
      consectetur leo interdum diam placerat fermentum. Morbi tincidunt et sapien ac hendrerit. Nullam bibendum
      enim ut dictum egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Vivamus nec sollicitudin nunc, vitae malesuada mi. Integer dictum rhoncus neque, et sodales
      massa feugiat pharetra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula massa urna,
      ornare pellentesque tortor vehicula at. Sed sed congue tortor. Phasellus a eros nec orci consectetur
      tristique. Quisque non consectetur diam. Vivamus condimentum sodales lorem facilisis commodo. Integer
      bibendum dictum magna a lobortis. Nulla ac nisi eget leo venenatis feugiat. Aliquam commodo vulputate
      neque id molestie. Vestibulum consectetur leo interdum diam placerat fermentum. Morbi tincidunt et sapien
      ac hendrerit. Nullam bibendum enim ut dictum egestas. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Vivamus nec sollicitudin nunc, vitae malesuada mi. Sed sed congue
      tortor. Phasellus a eros nec orci consectetur tristique. Quisque non consectetur diam. Vivamus condimentum
      sodales lorem facilisis commodo. Integer bibendum dictum magna a lobortis. Nulla ac nisi eget leo venenatis
      feugiat. Aliquam commodo vulputate neque id molestie.
    </p>
  </article>
</section>


