
<header>
  <h1>Products</h1>
</header>

  <!--<table border='2' class='imgright'>-->
    <!--<th>Product</th><th>Price</th>-->
    <!--<% #@products_hash.each do |key, value| %>-->
        <!--<tr>-->

          <!--<td><%= #key %></td>  <td><%= value %></td>-->
        <!--</tr>-->
    <!--<% #end %>-->
  <!--</table>-->


