<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @greeting %></h1>
<h2 class='error'><%= @editorial.title %> </h2>
<p><%= @editorial.content %></p>
</body>
</html>